body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #2c3e50, #000000);
    font-family:Arial, Helvetica, sans-serif;

}


/*Hover Button*/
.button {
    border-radius: 4px;
    background-color: #3b1ef4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: auto;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/*Table (for profile page)*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }